* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #F6F1F1;
    /*background-image: url(/img/universo.png);*/
}

#encabezado {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/XiP3qS0.jpg);
    color: white;
}

#encabezado h1{
    margin: 2%;
}

#encabezado p{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 100%;
}

.contenedorboton {
    box-sizing: border-box;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    display: flex;
    justify-content: center;
    margin: 2%;
    width: 20%;
    padding: 1%;
    box-sizing: border-box;
    background-color: #0d78f3;
    border-radius: 20px;
    font-family: 'Source Code Pro', monospace;
    font-size: 90%;
    border: none;
}

.boton:hover {
    background-color: #c29045;
    cursor: pointer;
}

.contenedorTribu {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 6%;
    flex-wrap: wrap;
    align-content: space-around;

}

#contenerPrincipal {
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    
}

h2, h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorCampers {
   
    /*para una pagina de galeria responsibe*/
    width: 100%;
	max-width: 1000px; /*maximo tamaño de la ventana*/
	margin: 5px auto 10px auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 40px;
    padding: 20px;
    grid-auto-flow: dense; 
    justify-content: center;
}

.targetas {

    text-align: center;
    border: solid;
    border-color: #AFD3E2;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.targetas h5 {
    font-size: 14px;
	font-weight: 60;
}

.targetas:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
    cursor: pointer;
}

.targetas img{    
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 3px;
    margin-top: 10px;
	
}
