* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #F6F1F1;
    overflow: auto;
    height: 100%;
}

#titupbutt {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#titupbutt h1{
    margin: 2%;
}

#titupbutt p{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.boton {
    box-sizing: border-box;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verDatos {
    display: flex;
    justify-content: center;
    margin: 2%;
    width: 20%;
    padding: 1%;
    box-sizing: border-box;
    background-color: #0d78f3;
    border-color: #0d78f3;
    border-bottom: #0d78f3;
    border-radius: 20px;
    font-family: 'Source Code Pro', monospace;
    font-size: 90%;
}

.verDatos:hover {
    background-color: #c29045;
    cursor: pointer;
}

.grupoTribu {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 6%;
    flex-wrap: wrap;
    align-content: space-around;

}

#contenerPrincipal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
    
}

h2, h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.campers{
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    justify-content: center;
    /*justify-content: space-evenly;*/
    

    /*para una pagina de galeria responsibe*/
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;*/
  
}

.carts{
    display: flex;
    text-align: center;
    align-items: center;
    border: solid;
    border-color: #AFD3E2;
    border-radius: 20px;
    padding: 2%;
    box-sizing: border-box;
    height: 300px;
    width: auto;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.carts:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
    cursor: pointer;
}

.carts img{
    width: 200px;
    height: 160px;
    border-radius: 5px;
}

@media (min-width: 425px){

    .campers {
        flex-wrap: wrap;
    }

}

@media (max-width: 768px){

    .campers {
       
        flex-direction: column;
    }

}
